<div class="dots">
    <img src="uploads/dots.png" alt="dots">
</div>
<div class="profile">
    <ion-icon name="person-circle-outline" aria-label="Profile"></ion-icon>
</div>
<ul>
    <span>Thông Tin</span>
    <li>
        <a href="index.html">
            <ion-icon name="home-outline" aria-label="Home"></ion-icon>
            <p>Trang Chủ</p>
        </a>
    </li>
    <li>
        <a href="about.html">
            <ion-icon name="help-circle-outline" aria-label="In"></ion-icon>
            <p>Giới Thiệu</p>
        </a>
    </li>
</ul>
<ul>
    <span>Nội Dung</span>
    <li class="noti">
        <a href="notifications.html">
            <ion-icon name="notifications-outline" aria-label="Notifications"></ion-icon>
            <p>Thông Báo</p>
        </a>
    </li>
    <li>
        <a href="wallet.html">
            <ion-icon name="wallet-outline" aria-label="Wallet"></ion-icon>
            <p>Ví</p>
        </a>
    </li>
    <li>
        <a href="likes.html">
            <ion-icon name="heart-outline" aria-label="Likes"></ion-icon>
            <p>Thích</p>
        </a>
    </li>
</ul>
<ul class="system">
    <span>Hệ Thống</span>
    <li class="switch-theme" onclick="toggleDarkMode()">
        <a href="#">
            <ion-icon id="theme-icon" name="moon-outline" aria-label="Dark Mode"></ion-icon>
            <p id="theme-text">Chế Độ Tối</p>
        </a>
    </li>
    <li>
        <a href="#">
            <ion-icon name="log-out-outline" aria-label="Logout"></ion-icon>
            <p>Thoát</p>
        </a>
    </li>
</ul>
